<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Trang chủ</a>
<a href="/blogs">Danh sách sản phẩm</a>
<h2>Thêm mới sản phẩm</h2>
<form action="/bogs-user" method="post">
    <input type="hidden" name="idBlog" placeholder="hidden">
    <input type="text" name="category" placeholder="category">
    <input type="text" name="imageBlog" placeholder="imageBlog">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="status" placeholder="status">
    <input type="text" name="shortDescription" placeholder="shortDescription">
    <input type="text" name="detailBlog" placeholder="detailBlog">
    <input type="text" name="startTime" placeholder="startTime">
    <input type="hidden" name="idUser" value="{idUser}" placeholder="">
    <button>Add</button>
</form>
</body>
</html>
