<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>Edit product</h2>
<form action="/user/edit" method="post">
  <input type="text" name="id" value="{id}">
  <input type="text" name="username" value="{username}" placeholder="username">
  <input type="text" name="password" value="{password}" placeholder="password">
  <input type="text" name="email" value="{email}" placeholder="email">
  <input type="text" name="image" value="{image}" placeholder="image">
  <input type="text" name="fullName" value="{fullName}" placeholder="fullName">
  <input type="text" name="address" value="{address}" placeholder="address">
  <input type="text" name="phone" value="{phone}" placeholder="phone">
  <input type="text" name="role" value="{role}">
  <select></select>
  <button>Save</button>
</form>
</body>
</html>
