<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/2">Trang chủ</a>
<a href="/product2s">Danh sách sản phẩm</a>
<h2>Thêm mới sản phẩm</h2>
<form action="/product2s" method="post">
    <input type="text" name="id">
    <input type="text" name="name">
    <input type="text" name="price">
    <input type="text" name="quantity">
    <input type="text" name="image">
    <input type="text" name="idcategory">
    <button>Add</button>
</form>
</body>
</html>
